tmp
client/.next
client/dist
client/node_modules
**/*.exe

# dependencies
client/node_modules
client/.pnp
client/**/.pnp.js

# testing
client/coverage

# next.js
client/.next
client/out

# production
client/build

# misc
client/**/.DS_Store
client/**/*.pem

# debug
client/**/npm-debug.log*
client/**/yarn-debug.log*
client/**/yarn-error.log*

# vercel
client/**/.vercel

# typescript
client/**/*.tsbuildinfo
client/**/next-env.d.ts
fly.toml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand
.idea

# binary
server-bin

defaultdb